<div class="container">
  <div class="row">
    <h1>Posts</h1>
    <% if user_signed_in? %>
      <p><%= current_user.email.split('@').first %>님 반갑습니다!</p><br>
    <% end %>
    <!-- 로그인이 됐을때, 로그아웃 버튼 보여주기 -->
    <% if user_signed_in? %>
      <a href="/users/sign_out">로그아웃</a><br>
    <% else %>
      <!-- 로그인이 안됐을때, 회원가입, 로그인 버튼 보여주기 -->
      <a href="/users/sign_up">회원가입</a>
      <a href="/users/sign_in">로그인</a><br>
    <% end %>
    <a href="/posts/new">글 작성하기</a>
    <% @posts.each do |post| %>
      <div class="well">
        <a href="/posts/<%= post.id %>/edit">[수정]</a>
        <a href="/posts/<%= post.id %>">[삭제]</a><br>
        제목 : <%= post.title %><br>
        내용 : <%= post.content %><br>
        글쓴이 : <%= post.user.email %><br>
        언제 : <%= time_ago_in_words(post.created_at) + ' ago' %><br><br>
        <% post.comments.each do |comment| %>
          <%= comment.content %><br>
        <% end %>
        <form action="/posts/<%= post.id %>/comments" method="POST" enctype="multipart/form-data">
          <textarea class="form-control" name="content" placeholder="Comment" rows="3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></textarea><br>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    <% end %>
  </div>
</div>